.nav-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F9FAFF;
}
@media (min-width:768px){
    .nav-header{
        justify-content: space-between;
    }
}
.name{
    color:black;
    font-family: roboto;
    font-size: 26px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .nav-menu-item {
    font-family: 'Roboto';
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
  }
  
  .header-container{
    display: flex;
    width: 1440px;
    height: 56px;
    padding: 12px 120px;
    justify-content: center;
    align-items: center;
    gap: 778px;
    flex-shrink: 0;
}

.nav-text{
    color: var(--font-high-emphasis, #25282B);
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; /* 32.4px */
}

.nav-item{
    display: flex;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}